@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.body{
    background-image: url(./dark-wall-empty-room-with-plants-floor-3d-rendering.jpg);
    background-size: cover;
    background-position: bottom;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Lato', sans-serif;
    position: relative;
}
.main{
    background-color: rgba(251, 255, 255, 0.4);
    width: 700px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    position: relative;
    box-shadow: 0 0 10px 0px  rgba(37, 35, 35, 0.581);
    overflow: hidden;
    
}
.options{
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    margin: auto;
    width: 70px;
    
}
.player_1, .player_2{
    width: 90%;
    transition: all .4s ease;
}

.player_1.active, .player_2.active{
    background-color: rgba(72, 84, 76, 0.5);
}
.player_name{
    font-size: 30px;
    margin-top: 70px;
}
.player_point{
    font-size: 60px;
    margin-top: 30px;
    color: #f10038;

}
#red2.active,#red1.active{
    display: inline-block;
    padding: 5px;
    border-radius: 50%;
    background-color: #f10038;
    margin: 7px;
}
.current{
    width: 100px;
    margin: 70px auto 50px;
    padding: 10px 5px;
    background-color: #f10038;
    color: #fff;
    box-shadow: 0 0 10px 0px  rgba(37, 35, 35, 0.581);
}
.current_point_name{
    font-size: 12px;
    color: black;
    font-weight: bold;
}
.current_point{
    font-size: 25px;
}
.menu{
    position: absolute;
    color: rgb(53, 53, 53);
    cursor: pointer;
    padding: 5px;
    text-align: center;
    width: 70px;
}
.new_game{
    top: 40px;
}
.dice{
    top: 0;
    bottom: 0;
    margin: auto;
    height: 70px;
    width: 70px;
}
.dice img{
    height: 50px;
    width: 50px; 
    transition: 1s ease;
}
.hold{
    bottom: 60px;
}
.roll_dice{
    bottom: 100px;
}
#score1, #score2{
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bolder;
    color: #fff;
}
#winner{
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    margin: auto;
    width: 350px;
    height: 350px;   
    background-color: #181a2f;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    transform: scale(0);
    transition: .5s ease;
}
#winner.active{
    transform: scale(1);
}
#winner_content{
    font-size: 25px;
    color: #fff;
    font-style: italic
}
#okay{
    padding: 7px;
    margin-top: 30px;
    font-size: 16px;
}
.rules{
    position: absolute;
    bottom: 10px;
    color: #fff;
    text-align: center;
}
@media screen and (max-width:550px) {
    .main{
        width: 350px;  
    }
    #winner{
        width: 300px;
        height: 200px;
    }
    .dice img{
        height: 30px;
        width: 30px; 
    }
    .current{
        width: 70px;
        margin: 60px auto 50px;
        padding: 7px 5px;
        
    }
    .player_name{
        font-size: 20px;
    }
    .player_point{
        font-size: 40px;   
    }
    #red2.active,#red1.active{
        display: inline-block;
        padding: 5px;
        border-radius: 50%;
        background-color: #f10038;
        margin: 3px;
    }

}